<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for ('static', filename='css/style.css')}}">
    <title>StarkCinema</title>
</head>

<body>
    <header>
        <div class="container-navbar container">
            <div class="logo">
                <a href="#">STARK <span class="cinema">CINEMA</span></a>
            </div>
            <div class="items-nav">
                <a href="#">Inicio</a>
                <a href="#">Cartelera</a>
                <a href="#">Contacto</a>
            </div>
            <div class="navbar">
                <nav>
                    <ul>
                        <li> <a href="#" class="btn btn-register"> Registrate</a></li>
                
                        <li> <a href="#" class="btn2 btn-login-seccion "> Iniciar Seccion</a></li>
                    </ul>

                </nav>

            </div>
            

        </div>
       
    </header>
    <main>

        <!-- SESION COVER -->
        <section class="cover">
            <div class="container">
                <div class="box-text-cover">
                    <div class="text-cover">
                        <h1>STARK <span class="cinema">CINEMA</span></h1>
                        <P>las Mejores peliculas en el Mejor Lugar</P>
                        <input type="text" placeholder="Buscar...">
                        <a href="#" class="btn btn-recervar">Recervar</a>

                    </div>
                   
                </div>
            </div>
        </section>

        <!-- SESION MOVIES -->
        <section id="movies">
            <div class="container">
                <div class="movies-container">
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>SpiderMan 3</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Batman 2</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Diablo 2</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Viaje al centro de la tierra</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg "alt="">
                        <h4>Need for Speed</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Tigresa</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Operacion 7</h4>
                    </div>
                    <!-- END CARD  -->
    
                    <!-- STARTED CARD  -->
                    <div class="card-muvie">
                        <img src="../static/images/cine.jpg" alt="">
                        <h4>Armagedon</h4>
                    </div>
                    <!-- END CARD  -->
    
                </div>
            </div>
           
          
            
        </section>
        <section id="contacto">
              <div class="">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#262626" fill-opacity="1" d="M0,224L48,202.7C96,181,192,139,288,144C384,149,480,203,576,240C672,277,768,299,864,277.3C960,256,1056,192,1152,160C1248,128,1344,128,1392,128L1440,128L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
              </div>
           <div class="container">
                hola
            </div>
           
        </section>













    </main>

</body>

</html>